@charset "UTF-8";
/* import resets */
/*ESTILOS RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

#body {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* que se ajuste al ancho maximo */
}

#main {
  margin-top: 10px;
  min-height: 100vh;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*ESTILOS NAVBAR BTS*/
#navBar {
  /*max-width: 1400px; lo comente para que tome el ancho del body */
  background-image: linear-gradient(to right, lightblue, orange);
  position: fixed;
  z-index: 100;
  height: 80px;
}

/* aqui implemento que halla una transicion de cada nav-link, cambiando su tamaño de letra 
cuando pasa el mouse por encima */
.nav-link {
  transition: font-size 0.5s ease;
}

.nav-link:hover {
  font-size: x-large;
}

/* **************************** */
.navbar__logo {
  position: relative;
  width: 40%;
}

.main__banner {
  /*border: 5px solid lightseagreen;*/
  width: 100%;
  height: 50vh;
  margin-top: 80px;
  background-image: url(../images/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.main__banner-picture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.288);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__banner-picture img {
  width: 200px;
}

/*SECCIÓN INICIO 1*/
.inicio__contenido1-h1, .inicio__contenido1-h2 {
  text-align: center;
}

/*SECCIÓN INICIO 2*/
.inicio__contenido2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inicio__contenido2-iframe {
  width: 800px;
  height: 300px;
}

/*ESTILOS PARA EL FOOTER*/
#footer {
  width: 100%;
  height: auto;
  margin-top: auto;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*FOOTER LOGO*/
  /*FOOTER LINKS*/
  /*FOOTER REDES*/
}
#footer .footer__logo-pictureimg {
  width: 150px;
}
#footer .footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#footer .footer__links .footer__links-ul {
  padding: 0;
}
#footer .footer__links-copyright .footer__links-copyright h3 {
  font-size: medium;
}
#footer .footer__links-copyright .footer__links-copyright h4 {
  font-size: small;
}
#footer .footer__redes .fa-brands {
  margin-left: 15px;
  font-size: 26px;
}

/* aca pongo los estilos de la web contacto */
/*FORM CONTACTO*/
#form {
  display: flex;
  width: 80%;
  height: auto;
  justify-content: space-between;
}

.form__mapa {
  width: 50%;
}

.form__contacto {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 100px;
  gap: 30px;
}

.form__contacto-contcheck {
  display: flex;
  justify-content: space-around;
}

.form__contacto-tipo {
  display: flex;
  flex-direction: column;
}

.form__contacto-textarea {
  resize: vertical;
}

.form__contacto-buttons {
  display: flex;
  justify-content: space-around;
}

/*MEDIA QUERIES*/

/*# sourceMappingURL=style.css.map */
