/*ESTILOS NAVBAR BTS*/
#navBar {
    /*max-width: 1400px; lo comente para que tome el ancho del body */
    background-image: linear-gradient(to right, lightblue, orange);
    position: fixed;
    z-index: 100;
    height: 80px;
}

/* aqui implemento que halla una transicion de cada nav-link, cambiando su tamaño de letra 
cuando pasa el mouse por encima */
.nav-link{   
    transition: font-size 0.5s ease;
}
.nav-link:hover {
  font-size: x-large;
}
/* **************************** */

.navbar__logo {
    position: relative;
    width: 40%; 
}
