/* aca pongo los estilos de la web contacto */
/*** FORM CONTACTO ***/
#form {
    display: flex;
    width: 100%;  
}

.form__contacto-nombre {
    width: 100%;
}

.form__contacto-email {
    width: 100%;
}

.form__contacto-tipo {
    display: flex;
    flex-direction: column;
}

.form__contacto-textarea {
    width: 100%;
    resize: vertical;
}

.form__contacto-buttons {
    padding: 2px;
    justify-content: space-between;
}
